.page-header
  %h1
    = @movie.title
    %small= "(#{@movie.release_date.year})"

.row
  .span3
    .movie-poster
      - if @movie.poster_file_name.nil?
        No image
      - else
        = image_tag @movie.poster.url(:medium), class: 'img-polaroid'
  .span9
    - unless @checkin.present?
      = link_to "Watch this movie", movie_checkins_path(@movie), method: :post
    - else
      = link_to "I haven't watch this movie yet!!", movie_checkin_path(@movie, @checkin), method: :delete
    %hr
    %p
      = @movie.synopsis
- if user_signed_in?
  .row
    %blockquote#recommended
      %h4 You may also like    
      - User.recommended_movies(current_user).each do |movie|
        - m = Movie.find(movie[0])
        = link_to movie_path(movie[0]), title: m.title do
          - image_tag m.poster.url(:thumb), class: 'img-polaroid'
